<h2 class="mx-auto max-w-md p-6 order-first text-2xl text-stone-900 sm:text-2xl">
  <%= t('devise.registrations.new.sign_up') %>
</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mx-auto max-w-md pt-6 pl-6 pr-6">
    <%= f.label :email, display: "block", class: "pb-1 text-gray-700" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
	class: "border-1 border-indigo-300 shadow-sm appearance-none
		rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="field mx-auto max-w-md pt-6 pl-6 pr-6">
    <%= f.label :email_confirmation, display: "block", class: "pb-1 text-gray-700" %>
    <%= f.email_field :email_confirmation, autofocus: true, autocomplete: "email",
	class: "border-1 border-indigo-300 shadow-sm appearance-none
		rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="field mx-auto max-w-md pt-6 pl-6 pr-6">
    <div class="flex">
      <%= f.label :password, class: "pb-1 text-gray-700" %>
      <% if @minimum_password_length %>
      <%= t('devise.shared.minimum_password_length', count: @minimum_password_length, class: "text-gray-700") %>
      <% end %>
    </div>
    <%= f.password_field :password, autocomplete: "new-password",
	class: "border-1 border-indigo-300 shadow-sm appearance-none
		rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="field mx-auto max-w-md pt-6 pl-6 pr-6">
    <%= f.label :password_confirmation, display: "block", class: "pb-1 text-gray-700" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
	class: "border-1 border-indigo-300 shadow-sm appearance-none
		rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="actions mx-auto max-w-md pt-6 pl-6 pr-6">
    <%= f.submit t('devise.registrations.new.sign_up'),
	class: "bg-white border border-gray-300
		px-4 py-2 rounded hover:bg-gray-100 hover:cursor-pointer shadow-sm transition" %>
  </div>
<% end %>
