<%= form_with(model: subscription_service, data: { controller: "preset" }) do |form| %>
  <% if subscription_service.errors.any? %>
    <div class="<%= flash_css_class(:alert) %>">
      <h2><%= pluralize(subscription_service.errors.count, "error") %> prohibited this subscription_service from being saved:</h2>

      <ul>
        <% subscription_service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="autocomplete" data-autocomplete-url-value="/subscription_services/search" data-action="keydown.enter->preset#fill keydown.down->preset#select keydown.up->preset#select" role="combobox">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, data: { autocomplete_target: "input" } %>
	<ul class="list-group" data-autocomplete-target="results"></ul>
  </div>

  <div>
    <%= form.label :next_payment, style: "display: block" %>
    <%= form.date_field :next_payment %>
  </div>

  <div>
    <%= form.label :payment_interval, style: "display: block" %>
    <%= form.number_field :payment_interval, min: 1 %>
  </div>

  <div>
    <%= form.label :payment_unit, style: "display: block" %>
    <%= form.select :payment_unit, [["月", "month"], ["年", "year"]] %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :monetary_unit, style: "display: block" %>
    <%= form.select :monetary_unit, [["円", "JPY"], ["$", "USD"]] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
