<div id="<%= dom_id subscription_service %>">
  <div>
    <strong><%= t("activerecord.attributes.subscription_service.name") %>:</strong>
    <%= subscription_service.name %>
  </div>

  <div>
    <strong><%= t("activerecord.attributes.subscription_service.next_payment") %>:</strong>
    <%= subscription_service.next_payment %>
  </div>

  <div>
    <strong><%= t("activerecord.attributes.subscription_service.payment_interval") %>:</strong>
    <%= subscription_service.payment_interval %>
  </div>

  <div>
    <strong><%= t("activerecord.attributes.subscription_service.payment_unit") %>:</strong>
    <%= payment_unit_to_ja(subscription_service.payment_unit) %>
  </div>

  <div>
    <strong><%= t("activerecord.attributes.subscription_service.price") %>:</strong>
    <%= subscription_service.price %>
  </div>

  <div>
    <strong><%= t("activerecord.attributes.subscription_service.monetary_unit") %>:</strong>
    <%= monetary_unit_to_ja(subscription_service.monetary_unit) %>
  </div>
</div>
