<div id="<%= dom_id subscription_service %>">
  <div>
    <strong>Name:</strong>
    <%= subscription_service.name %>
  </div>

  <div>
    <strong>Next payment:</strong>
    <%= subscription_service.next_payment %>
  </div>

  <div>
    <strong>Payment interval:</strong>
    <%= subscription_service.payment_interval %>
  </div>

  <div>
    <strong>Payment unit:</strong>
    <%= subscription_service.payment_unit %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= subscription_service.price %>
  </div>

</div>
