<div id="<%= dom_id subscription_service %>" class="p-6">
  <h2 class="text-2xl font-bold mb-2">
    <%= subscription_service.name %>
  </h2>

  <div class="ml-1">
    <strong><%= t("activerecord.attributes.subscription_service.next_payment") %>:</strong>
    <%= subscription_service.next_payment %>
  </div>

  <div class="ml-1">
    <strong><%= t("activerecord.attributes.subscription_service.payment_interval") %>:</strong>
    <%= subscription_service.payment_interval %><%= payment_unit_to_ja(subscription_service.payment_unit) %>
  </div>

  <div class="mt-3 text-right text-2xl font-bold">
    <%= subscription_service.price.to_formatted_s(:delimited) %><%= monetary_unit_to_ja(subscription_service.monetary_unit) %>
  </div>
</div>
