<% content_for :title, t("helpers.heading.list", model: t("activerecord.models.subscription_service")) %>

<h2 class="mx-auto max-w-md p-6 order-first text-2xl text-stone-900 sm:text-2xl">
  <%= t("helpers.heading.list", model: t("activerecord.models.subscription_service")) %>
</h2>

<% if @subscription_services.present? %>
<h3 class="mx-auto max-w-md p-6 order-first text-2xl text-stone-900 sm:text-2xl font-bold">
  <%= t("helpers.heading.total_amount") %>：<%= @this_month_payment.to_formatted_s(:delimited) %><%= t("number.currency.format.unit") %>
</h3>
<% end %>

<div class="mx-auto max-w-md p-6">
  <%= link_to t("activerecord.attributes.subscription_service.new"), new_subscription_service_path,
      class: "bg-white border border-indigo-300 px-4 py-2 rounded hover:bg-gray-100
	      hover:cursor-pointer shadow-sm transition" %>
</div>

<% if @subscription_services.present? %>
<div id="subscription_services">
  <% @subscription_services.each do |service| %>
    <div class="mx-auto max-w-md bg-white border border-indigo-300 rounded-xl shadow-md overflow-hidden
                transition transform hover:-translate-y-2 hover:shadow-xl duration-300 m-4">
      <%= link_to edit_subscription_service_path(service) do %>
        <%= render service %>
      <% end %>
    </div>
  <% end %>
</div>
<% else %>
<p class="mx-auto max-w-md p-6 order-first text-md text-stone-900">
  <%= t("helpers.subscription_service.no_service") %>
</p>
<% end %>
