<p style="color: green"><%= notice %></p>

<% content_for :title, "サービス一覧" %>

<h1>サービス一覧</h1>

<h2>今月の支払い予定金額：<%= @this_month_payment %>円</h2>

<div id="subscription_services">
  <% @subscription_services.each do |service| %>
    <%= render service %>
    <p>
      <%= link_to "Show this subscription service", service %>
    </p>
  <% end %>
</div>

<%= link_to "New subscription service", new_subscription_service_path %>
