<% content_for :title, t("helpers.heading.list", model: t("activerecord.models.subscription_service")) %>

<h1><%= t("helpers.heading.list", model: t("activerecord.models.subscription_service")) %></h1>

<% if @subscription_services.present? %>
<h2><%= t("helpers.heading.total_amount") %>：<%= @this_month_payment %><%= t("number.currency.format.unit") %></h2>

<div id="subscription_services">
  <% @subscription_services.each do |service| %>
    <%= link_to edit_subscription_service_path(service) do %>
      <%= render service %>
    <% end %>
  <% end %>
</div>
<% else %>
<p><%= t("helpers.subscription_service.no_service") %></p>
<% end %>

<%= link_to t("activerecord.attributes.subscription_service.new"), new_subscription_service_path %>
