<p style="color: green"><%= notice %></p>

<%= render @subscription_service %>

<div>
  <%= link_to "このサービスを編集する", edit_subscription_service_path(@subscription_service) %> |
  <%= link_to "サービス一覧に戻る", subscription_services_path %>

  <%= button_to "このサービスを削除する", @subscription_service, method: :delete %>
</div>
