<div id="<%= dom_id service_preset %>">
  <div>
    <strong><%= t("activerecord.attributes.admin/service_preset.name") %>:</strong>
    <%= service_preset.name %>
  </div>

  <div>
    <strong><%= t("activerecord.attributes.admin/service_preset.payment_interval") %>:</strong>
    <%= service_preset.payment_interval %>
  </div>

  <div>
    <strong><%= t("activerecord.attributes.admin/service_preset.payment_unit") %>:</strong>
    <%= service_preset.payment_unit %>
  </div>

  <div>
    <strong><%= t("activerecord.attributes.admin/service_preset.price") %>:</strong>
    <%= service_preset.price %>
  </div>

  <div>
    <strong><%= t("activerecord.attributes.admin/service_preset.monetary_unit") %>:</strong>
    <%= service_preset.monetary_unit %>
  </div>

</div>
