<div id="<%= dom_id service_preset %>">
  <div>
    <strong>サービス名:</strong>
    <%= service_preset.name %>
  </div>

  <div>
    <strong>支払間隔:</strong>
    <%= service_preset.payment_interval %>
  </div>

  <div>
    <strong>支払単位:</strong>
    <%= service_preset.payment_unit %>
  </div>

  <div>
    <strong>金額:</strong>
    <%= service_preset.price %>
  </div>

  <div>
    <strong>通貨単位:</strong>
    <%= service_preset.monetary_unit %>
  </div>

</div>
