<div id="<%= dom_id service_preset %>">
  <div>
    <strong>Name:</strong>
    <%= service_preset.name %>
  </div>

  <div>
    <strong>Payment interval:</strong>
    <%= service_preset.payment_interval %>
  </div>

  <div>
    <strong>Payment unit:</strong>
    <%= service_preset.payment_unit %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= service_preset.price %>
  </div>

</div>
