<p style="color: green"><%= notice %></p>

<%= render @subsc_service %>

<div>
  <%= link_to "Edit this subsc service", edit_subsc_service_path(@subsc_service) %> |
  <%= link_to "Back to subsc services", subsc_services_path %>

  <%= button_to "Destroy this subsc service", @subsc_service, method: :delete %>
</div>
